<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="6.5.1" targetFramework="portable45-net45+win8" />
  <package id="DLToolkit.Forms.Controls.FlowListView" version="2.0.10" targetFramework="portable45-net45+win8" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="portable45-net45+win8" />
  <package id="Plugin.UserDialogs" version="1.0.0" targetFramework="portable45-net45+win8" />
  <package id="SkiaSharp" version="1.60.0" targetFramework="portable45-net45+win8" />
  <package id="Splat" version="2.0.0" targetFramework="portable45-net45+win8" />
  <package id="Stuph.Xamarin.FFImageLoading" version="0.0.1" targetFramework="portable45-net45+win8" />
  <package id="Stuph.Xamarin.FFImageLoading.Forms" version="0.0.1" targetFramework="portable45-net45+win8" />
  <package id="System.Net.Http" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="Xam.Plugin.Media" version="2.6.2" targetFramework="portable45-net45+win8" />
  <package id="Xam.Plugins.Forms.ImageCircle" version="1.8.1" targetFramework="portable45-net45+win8" />
  <package id="Xamarin.FFImageLoading" version="2.4.5.867-pre" targetFramework="portable45-net45+win8" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.4.5.867-pre" targetFramework="portable45-net45+win8" />
  <package id="Xamarin.FFImageLoading.Svg" version="2.4.5.867-pre" targetFramework="portable45-net45+win8" />
  <package id="Xamarin.FFImageLoading.Svg.Forms" version="2.4.5.867-pre" targetFramework="portable45-net45+win8" />
  <package id="Xamarin.FFImageLoading.Transformations" version="2.4.5.867-pre" targetFramework="portable45-net45+win8" />
  <package id="Xamarin.Forms" version="2.4.0.280" targetFramework="portable45-net45+win8" />
</packages>